body {
background-color: grey;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Tiller, Arial, sans-serif';
}

p {
    color: black; 
}

.btn {
    background-color: yellow;
    color: black;
    border-color: yellow;

}

.btn:hover {
    background-color: yellow;
    color: black;
    border-color: yellow;
}


